<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="../js/site.js" defer></script>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="../css/site.css">
    <link rel="stylesheet" href="../css/add-book.css">
    <title>BookTrackers Register Book</title>
</head>
<body>
    <header>
        <div class="nav">
            <a href="index.html">Homepage</a>
            <a href="books.html">Library</a>
        </div>
        <h1>BookTrackers2000</h1>
        <div id="loggedIn" class="user-bar">
            <span id="username">{{this.username}}</span>
            <a href="logout.html" @click="logOut">Log out</a>
        </div>
    </header>

        <main>
            <form @submit.prevent="registerBook">
                <h2>Register Book</h2>
                <input type="text" v-model="title" placeholder="Title" required/>
                <input type="text" v-model="firstName" placeholder="First Name" required maxlength="16"/>
                <input type="text" v-model="lastName" placeholder="Last Name" required maxlength="16"/>
                <input type="number" v-model="pages" placeholder="Number of Pages" required max="3000"/>
                <input type="submit" value="Submit" class="submit-button"/>
                <span id="message"></span>
            </form>
        </main>
</body>
</html>