<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="../js/site.js" defer></script>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="../css/site.css">
    <link rel="stylesheet" href="../css/add-book.css">
    <title>BookTrackers Register Book</title>
</head>
<body>
        <header>
            <div>
                <a href="index.html">Homepage</a>
                <a href="books.html">Library</a>
            </div>
            <h1>BookTrackers2000</h1>
        </header>

        <main>
            <form @submit.prevent="registerBook">
                <h2>Register Book</h2>
                <input type="text" v-model="title" placeholder="Title" />
                <input type="text" v-model="firstName" placeholder="First Name" />
                <input type="text" v-model="lastName" placeholder="Last Name" />
                <input type="number" v-model="pages" placeholder="Number of Pages" />
                <input type="submit" value="Submit" />
                <span id="message"></span>
            </form>
        </main>
</body>
</html>