<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="../js/site.js" defer></script>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="../css/site.css">
    <title>BookTrackers</title>
</head>

<body>
    <header>
        <div class="nav">
            <a href="index.html">Homepage</a>
            <a href="add-book.html">Add Book</a>
        </div>
        <h1>BookTrackers2000</h1>
        <div class="user-bar">
            <span id="username">{{this.username}}</span>
            <a href="account.html">Account</a>
            <a href="logout.html" @click="logOut">Log out</a>
        </div>
    </header>
    <main class="divided">
        <div class="box">
            <h2>Available Books</h2>
            <ul>
                <li v-for="book in library" class="book">
                    <div>
                        <p>Title: {{book.title}}</p>
                        <p>
                            Authors:
                            <ul>
                                <li v-for="author in book.authors" class="author">
                                    {{author.firstName}} {{author.lastName}}
                                </li>
                            </ul>
                        </p>
                    </div>
                    <button @click="registerReading(book.id)">Add Reading</button>
                </li>
            </ul>
        </div>
        <div class="box">
            <h2>Your books</h2>
            <ul>
                <li v-for="book in userBooks" class="book">
                    <div>
                    <p>Title: {{book.title}}</p>
                    <p>
                        Authors:
                        <ul>
                            <li v-for="author in book.authors">
                                {{author.firstName}} {{author.lastName}}
                            </li>
                        </ul>
                    </p>
                    <p>{{book.totalPagesRead}}/{{book.totalPages}} pages read</p>
                    </div>
                </li>
            </ul>
        </div>
    </main>
</body>

</html>
