/*=====================
LIBRARY
=======================*/

#library {
    background: rgb(0, 0, 0, 0.7);
    width: 100%;
    min-height: inherit;
    margin-right: 2px;
}

#library .book {
    display: block;
}

/*=====================
USER-BOOKS
=======================*/

#user-books {
    background: rgb(0, 0, 0, 0.7);
    width: 100%;
    min-height: inherit;
    margin-left: 2px;
}

