.box {
    background: rgb(0, 0, 0, 0.7);
    width: 100%;
    min-height: inherit;
    max-height: calc(100vh - 100px);
    margin-right: 2px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*=====================
USER
=======================*/
#user .book {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/*=====================
READINGS
=======================*/

